params {
    reads         = "data/*_{R1,R2}.fastq.gz"
    references    = null
    sgrna_seq     = null
    quant_window  = 10
    ploidy        = 8
    mapq_threshold = 20
    outdir        = "results"
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'TRIM_AND_MERGE' {
        publishDir = [ path: "${params.outdir}/preprocessing", mode: 'copy' ]
    }
    withName: 'INDEX_REF' {
        publishDir = [ enabled: false ]
    }
    withName: 'ALIGN_READS' {
        publishDir = [ enabled: false ]
    }
    withName: 'FILTER_BAM' {
        publishDir = [ path: "${params.outdir}/alignments", mode: 'copy' ]
    }
    withName: 'CALL_VARIANTS' {
        publishDir = [ path: "${params.outdir}/variants", mode: 'copy' ]
    }
    withName: 'PARSE_AND_PLOT' {
        publishDir = [
            [ path: "${params.outdir}/quantification", mode: 'copy', pattern: "*.tsv" ],
            [ path: "${params.outdir}/reports", mode: 'copy', pattern: "*.pdf" ]
        ]
    }
}

profiles {
    conda {
        conda.enabled          = true
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
    }
}
